main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: lightslategray;
}

.wordbox {
    text-align: center;
    border: solid white;
    margin: 3px;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

nav {
    background-color: lightskyblue;
    height: 10%;
}
.errors{
    list-style: none;
}
.error {
    color: red;
    font-size: .75em;
}