{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <h1>Word Finder</h1>
    <form action="/words" method="post">
        {{ form.hidden_tag() }}
        <div class="form-item">
            {{ render_field(form.avail_letters) }}
        </div>
        
        <br />
        <div class="form-item">
            {{ render_field(form.word_length) }}
        </div>
        
        <br />
        <div class="form-item">
            {{render_field(form.pattern)}}
        </div>
        <br />
        <span id="invalid" class="error">Either pattern or letters must be filled out</span>
        <br />
        <div class="submit-btn">
            {{form.submit()}}
        </div>
        
    </form>
{% endblock %}